.card {
  background-color: #373b69;
  margin: 10px;
  border-radius: 3px;
  overflow: hidden;
  flex: none;
  transition: 0.3s ease-in-out;
  height: 450px;
   box-shadow: 1px 1px 5px 1px rgb(20, 20, 20);
}

.card:hover {
  box-shadow: 1px 1px 5px 2px rgb(20, 20, 20);
  transform: scale(1.08);
  transition-delay: 0.3s;
}

img {
  width: 300px;
  max-height: 400px;
}

button {
  position: absolute;
}

.card:hover .card-info {
  margin-top: -15%;
  position: absolute;
  width: 90%;
  transition-delay: 0.3s;
}

.card-info {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  color: #ebe5e2;
  letter-spacing: 1px;
  height: 70px;
  width: 90%;
  background-color: #373b69;
  transition: 0.3s ease-in-out;

  h2 {
    margin: 0;
  }

  span {
    height: 20px;
    font-weight: 700;
    background-color: #1e1f33;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
  }
}

.mais-informacoes {
  display: none;
  justify-content: space-between;

  .mat-icon {
    padding: 0rem 6rem 2rem;
    align-items: right;
  }

  .moreInfo {
    color: white;
    text-decoration: none;
  }
}

.card:hover .mais-informacoes {
  padding: 1rem 0rem 1rem;
  display: flex;
  margin: 0;
  margin-top: 10%;
  position: absolute;
}
