.scroll-bar {
  width: 100vw;
  display: flex;
  justify-content: center;
  justify-items: center;


  .scroll-arrow {
    margin: 2%;
    color: #ebe5e2;
    height: 30%;
    line-height: 150px;
    width: 50px;
    font-size: 100px;
    margin-top: 10%;
    cursor: pointer;
  }
  .scroll-arrow:hover{

  color:#83cfdf;
  transition: 0.5s ease-in-out;
  }

  .card-section {
    transition: 0.3s ease-in-out;
    width: 79vw;
    display: flex;
    overflow-x: auto; //trás a scroll bar pro card-section
    overflow-x: hidden; //esconde a scroll bar
    white-space: nowrap;
    flex-direction: row;


    .card {
      margin: 10px;
      background-color: #373b69;
      border-radius: 3px;
      overflow: hidden;
      flex: none;
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }

    .card:hover {
      margin-top: -0.01%;
      box-shadow: 1px 1px 5px 3px rgb(20, 20, 20);
    }

    img {
      width: 300px;
      max-height: 400px;
    }

    .card-info {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem 1rem;
      color: #ebe5e2;
      letter-spacing: 1px;

      h2 {
        margin: 0;
      }

      span {
        font-weight: bold;
        background-color: #1e1f33;
        border-radius: 3px;
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
