.header {
  background-color: #292847 !important;
  justify-items: center;
  justify-content: space-between;
  color: #83cfdf;
  font-size: 18px;
  position: fixed;
  box-shadow: 0px 0px 2px 1px rgb(20, 20, 20);
  height: 100px;
  z-index: 99999;

  .title {
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 21px;
  }

  a {
    color: #f8f8f8;
    font-weight: 300;
    padding: 0.5rem;
    padding-right: 1rem;
    text-decoration: none;
  }

  a:hover {
    color: #83cfdf;
    transition: 0.3s ease-in-out;
  }

  .mat-icon {
    color: #f8f8f8;
    margin-left: 1%;
    // cursor: pointer;
  }

  img {
    width: 80px;
    cursor: pointer;
  }

  .flex-logo{
    display: flex;
    align-items: center;
  }

  .flex-nav{
    display: flex;
    align-items: center;
  }

  .busca{
    display: flex;
    align-items: center;
  }

  .disp-sm{
    visibility: hidden;
  }
}

@media screen and (max-width: 865px){
  .header{
    flex-wrap: wrap;
    justify-content: center;

    .dropdown {
      width: 0px;
      display: none;
    }

    .flex-nav{
       justify-content: center;
    }
    

    .busca{
      display: flex;
      align-items: center;
    }

    .display-md{
      display: none;
    }
  }
}

@media screen and (max-width: 635px){
  .header{
    height: 90px;

    .flex-nav{
      justify-content: space-evenly;
      width: 70%;
    }

    .disp-none{
    display: none;
    }

    img{
      width: 60px;
    }

    .disp-sm{
      visibility: visible;
      background-color: #292847;
    }
  }

}
