.header {
  background-color: #292847 !important;
  justify-items: center;
  color: #83cfdf;
  font-size: 18px;
  position: fixed;
  box-shadow: 0px 0px 2px 1px rgb(20, 20, 20);
  height: 80px;
  z-index: 999999999;

  span {
    //color: #83cfdf;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 21px;
  }



  a {
    color: #f8f8f8;
    font-weight: 300;
    padding: 0.5rem;
    padding-right: 1rem;
    text-decoration: none;


  }

  a:hover {
    color: #83cfdf;
    transition: 0.5s ease-in-out;
  }

  .mat-icon {
    color: #f8f8f8;
    margin-left: 1%;
  }

  .spacer {
    flex: 1 1 auto;
  }

  img {
    width: 80px;
    cursor: pointer;
  }
}
