<mat-toolbar class="header" *ngIf="router.url !== '/NotFound'">
  <div class="flex-logo">
    <a href=""><img src="assets/img/logo.png" alt="" /></a>
    <div class="display-md">
      <span class="title">Site de Animes</span>
      <a href="">Home</a>
    </div>
  </div>

  <div class="flex-nav">
    <mat-icon class="disp-none"><a href="login">account_circle</a></mat-icon>
    <a href="login" class="disp-none">Login</a>

    <mat-icon class="disp-none"><a href="minhalista">bookmark</a></mat-icon>
    <a href="minhalista" class="disp-none">Minha lista</a>

    <div class="busca">
      <app-form></app-form>
      <a href="search"><mat-icon>search</mat-icon></a>
    </div>
    <button mat-icon-button class="disp-sm" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item href="login">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </a>
      <a mat-menu-item href="minhalista">
        <mat-icon>bookmark</mat-icon>
        <span>Minha lista</span>
      </a>
    </mat-menu>
  </div>
</mat-toolbar>
