<mat-toolbar class="header">

  <div class="flex-logo">
  <a href=""><img src="assets/img/logo.png" alt=""></a>
  <div class="display-md">
    <span class="title">Site de Animes</span>
    <a href="">Home</a>
  </div>
  </div>


  <div class="flex-nav">

    <mat-icon><a href="login">account_circle</a></mat-icon>
    <a href="login" class="disp-none">Login</a>

    <mat-icon><a href="minhalista">bookmark</a></mat-icon>
    <a  href="minhalista" class="disp-none">Minha lista</a>

    <div class="busca"> 
      <app-search></app-search>
      <a href=""><mat-icon>search</mat-icon></a>
    </div>

  </div>

</mat-toolbar>
