<mat-toolbar class="header">

  <div class="flex-logo">

    <a href=""><img src="assets/img/logo.png" alt=""></a>
    <span class="title">Site de Animes</span>
    <a href="">Home</a>

  </div>


  <div class="flex-nav">

    <mat-icon>account_circle</mat-icon>
    <a href="login">Login</a>

    <mat-icon>bookmark</mat-icon>

    <a  href="minhalista">Minha lista</a>

    <div class="busca">

      <app-search></app-search>
      <a href=""><mat-icon>search</mat-icon></a>
    </div>

  </div>

</mat-toolbar>
