.lista {
  display: flex;
  flex-wrap: wrap;
}

.content {
  background-color: #1e1f33;
  margin: 0;
  padding: 0;
  justify-content: center;
  justify-items: center;
  display: flex;

  .category {
    margin-left: 4%;
    margin-top: 5%;
    background-color: #1e1f33;
    width: 100vw;
  }
}

.list-card {
  width: 90vw;
  max-width: 100%;
  display: flex;
  white-space: nowrap;
  flex-direction: row;

}

.carousel-cell{
   cursor: auto;
}

.category-name {
  display: flex;
  align-items: center;
  color: #83cfdf;
  margin-top: 5%;
  font-weight: 400;

  h2 {
    margin: 10px;
  }

  a {
    color: #83cfdf;
    letter-spacing: 1px;
    justify-content: center;
  }
}
