<div class="content">
  <div class="category">
    <div class="category-name">
      <h2 action="#">POPULARES</h2>
      <a href="">Ver mais</a>
    </div>

    <div class="list-card">
      <carousel
        [cellWidth]="300"
        [height]="500"
        [objectFit]="'cover'"
        [overflowCellsLimit]="3"
        [cellsToScroll]="2"
        [transitionDuration]="400"
      >
        <div class="carousel-cell" *ngFor="let card of listCards">
          <a [routerLink]="['/details/' + card.id]">
            <app-card [card]="card"></app-card>
          </a>
        </div>
      </carousel>
    </div>
    <div class="category-name">
      <h2 action="#">POPULARES</h2>
      <a href="">Ver mais</a>
    </div>
    <div class="list-card">
      <carousel
        [cellWidth]="300"
        [height]="500"
        [objectFit]="'cover'"
        [overflowCellsLimit]="3"
      >
        <div class="carousel-cell" *ngFor="let card of listCards">
          <a [routerLink]="['/details/' + card.id]">
            <app-card [card]="card"></app-card>
          </a>
        </div>
      </carousel>
    </div>
  </div>
</div>
