.lista {
  display: flex;
  flex-wrap: wrap;
}

.content {
  background-color: #1e1f33;
  margin: 0;
  padding: 0;
  justify-content: center;
  justify-items: center;
}

.list-card {
  width: 100vw;
  display: flex;
  margin-left: 4%;
  width: 90vw;
  max-width: 100%;
  display: flex;
  overflow-x: auto; //trás a scroll bar pro card-section
  overflow-x: hidden; //esconde a scroll bar
  overflow-y: hidden;
  white-space: nowrap;
  flex-direction: row;
  //height: 500px;
}
