.episodio {
  width: 210px;
  justify-content: space-between;
  transition: 0.3s ease;
  margin-left: 5%;
  flex: none;

}
.sinopse {
  transition: 0.3s ease;
  opacity: 0;
  font-size: 11px;
  max-height: 20px;
  border-radius: 0px 0px 2px 2px;

}
p {
  font-size: 11px;
}

img {
  width: 100%;
  border-radius: 3px;
  height: 100%;
}

.episodio:hover {
  transition-delay: 0.6s;
  transform: scale(1.2);
}

.episodio:hover .sinopse {
  transition-delay: 0.6s;
  transform: translateY(-30px);
  opacity: 1;
}
.episodio:hover .mat-expansion-panel {
  transition-delay: 0.6s;
}

.mat-expansion-panel {
  background-color: #1e1f33;
  box-shadow: none;
  color: white;
  border-radius: 0px 0px 2px 2px;
  transition: 0.3s ease;

  a {
    font-size: 13px;
    color: #83cfdf;
  }
  .text {
    color: rgb(219, 217, 217);
    transition: 0.3s ease;
  }
}
