.category {
  display: flex;
  align-items: center;
  color: #83cfdf;
  margin-top: 5%;
  font-weight: 400;
  margin-left: 8%;

  h2 {
    margin: 10px;
  }

  a {
    color: #83cfdf;
    letter-spacing: 1px;
    justify-content: center;
  }

}
