.content {
    background-color: #1e1f33;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    .container {
        justify-content: center;
        margin: 5%;
        display: flex;
    }
    h2{
      font-size: 3rem;
      color: white;
    }
    ::placeholder{
      color: grey;
    }
    mat-hint{
      color: #AAAAAA;
    }

    .align-forms{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 790px;
    }

    .align-center{
      text-align: center;
      margin-top: 2rem;
    }

    .d-flex-column{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: stretch;
      width: 200px;
      height: 100px;
    }

    .login-button{
      background-color: grey;
    }
}


