<div class="content">
  <div class="container">
    <form class="form" [formGroup] = 'login'>
      <div class="teste">
        <div class="align-forms">
          <h2>Faça seu login</h2>
          <div class="align-center">
            <p>
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="seuemail@serviço.com" formControlName ="email">
                <mat-error *ngIf="login.get('email')?.errors?.required">Campo obrigatório</mat-error>
                <mat-error *ngIf="login.get('email')?.errors?.email">Digite um email Inválido</mat-error>
                <mat-hint>Insira seu email</mat-hint>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field>
                <mat-label>Senha</mat-label>
                <input type="password" matInput placeholder="Sua senha" formControlName ="senha">
                <mat-error *ngIf="login.get('senha')?.errors?.required">Campo obrigatório</mat-error>
                <mat-hint>Insira sua senha</mat-hint>
              </mat-form-field>
            </p>

              <section>
                <div class="d-flex-column">
                  <mat-checkbox>Lembrar de mim</mat-checkbox>
                  <a href="">Esqueci minha senha</a>
                  <button mat-raised-button class="login-button" (click)="submission()" [disabled]="login.invalid">Iniciar sessão</button>
                </div>
              </section>

          </div>
        </div>
      </div>
      </form>
  </div>

</div>
