.content {
  background-color: #1e1f33;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  .container{
    margin: 10%;
  background-color:#292847;
  //width: 80vw;
  width: 80%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;

}
}




