.content {
  background-color: #1e1f33;

  margin: 0;
  padding: 0;
  display: flex;

  .container {
    margin: 15%;
    background-color: #292847;
    //width: 80vw;
    width: 70%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    height: 120%;
  }
}

.mat-chip{

  font-weight: 400;
}

.mat-mini-fab {
  color: white;
  cursor: pointer;
  background-color: #708ed2;
  box-shadow: none;
  align-items: center;
  display: inline;
  justify-content: center;

}

.mat-mini-fab:hover {
  background-color: #527cdf;
  transition: 0.4s ease-in-out;
}

.anime-info {
  box-shadow: 0 3px 8px -2px rgb(0, 0, 0);
  background-color: rgb(245, 241, 241);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  height: 500px;
  width: 100%;

  .img-description {
    border-radius: 10px 0px 0px 0px;
    width: 400px;
    max-height: 500px;
  }
  p {
    color: rgb(145, 143, 143);
    padding: 0.25rem;
  }
}

h2 {
  color: #708ed2;
  font-size: 36px;
  width: 80%;
  display: inline;
}

.description {
  padding: 1rem 1rem 1rem;
  h5 {
    display: flex;
    color: rgb(71, 70, 70);
    font-size: 16px;
    margin-top: 40px;
    width: 100%;
  }
}

.seasons {
  background-color: #292847;
  margin-top: 50px;
  margin-left: 1%;


  h1 {
    color: #83cfdf;
    padding: 2rem 3rem 0rem;
    font-weight: 500;
  }
  h2 {
    padding: 1rem;
  }
}

.carousel-cell {
  width: 210px;
  transition: 0.3s ease;
   cursor: auto;

}

.carousel-cell:hover {
  transition-delay: 0.4s;
}

.mat-chip{
  color: white;
  cursor: pointer;
  font-size: 13px;
  
}

.Seinen{
  background-color: #696969;

}

.Comedia{
background-color: #6495ED;
}

.Sobrenatural{
  background-color: #8B0000;

}
