<div class="content">
  <div class="container">
    <div class="anime-info">
      <img
        class="img-description"
        src="{{detalhe.imgUrl}}"
        alt=""
      />
      <div class="description">
        <h2>{{detalhe.animeTitle}}</h2>
        <button mat-mini-fab><mat-icon>bookmark</mat-icon></button>

        <h5>
          Sinopse: {{detalhe.description}}
        </h5>

        <p>Tags: <span *ngFor="let tag of detalhe.tags">{{tag.titulo}}</span></p>
        <p>Studio: <span *ngFor="let studio of detalhe.studios">{{studio.nome}}</span></p>
        <p>Lançamento: {{detalhe.lancamento}}</p>
        <p>Episódios: {{this.episodios}}</p>
        <p>Temporadas: {{this.temporadas}}</p>
      </div>
    </div>
    <div class="seasons">
      <h2>Temporadas e episódios</h2>
      <div *ngFor="let temporada of detalhe.temporadas; let i = index">
        <h1>Temporada {{i+1}}</h1>
        <carousel [cellWidth]="250" [height]="200">
          <div class="carousel-cell" *ngFor="let episodio of temporada.episodios">
            <app-episode [episodio]="episodio"></app-episode>
          </div>
        </carousel>
      </div>
    </div>
  </div>
</div>
