
.form{
  margin: 10px;
  background-color: #1e1f33;


  input{
    color: white;
    border: 0.5px solid #373B69;
    background-color: #1e1f33;
    border-radius: 30px;
    padding: 10px;
    padding-left: 30px;
    font-size: 14px;
    height: 30px;
    width: 100%;
    outline: none;

  }



}
