/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: #83cfdf;
  font-weight: 550;
}

.mat-form-field {
  color: white !important;
}

.mat-form-field-focused {
  color: white !important;
}
.mat-form-field-label {
  color: white !important;
}

.mat-form-field-underline {
  background-color: white !important;
}

.mat-form-field-placeholder {
  color: white !important;
}



.mat-label {
  background-color: white !important;
}

input {
  font-family: Roboto;
}

.arrow-select > .mat-select-indicator,
.mat-select-indicator:after {
  color: white !important;
 
}


.arrow-expansion > .mat-expansion-indicator,
.mat-expansion-indicator:after {
  color: white !important;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  display: flex;
}

.mat-paginator-icon{
  color: #83cfdf;
}

.mat-select-value {
  color: white;
}

.mat-form-field-type-mat-select .mat-form-field-label {
  color: white;
}

.mat-tab-group {
  color: white !important;
}

.mat-tab-label {
  color: white !important;
  font-weight: 400;
}
.mat-select {
  color: white !important;
}
.mat-form-field-type-mat-select {
  color: white;
}

.mat-label {
  color: white !important;
}
.mat-tab-label-active {
  color: #83cfdf !important;
}

.mat-tab-nav-bar {
  color: white !important;
}

.mat-ink-bar {
  background-color: #8d9496 !important;
  display: block;
  height: 3px !important;
}

::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: #1e1f33;
  box-shadow: inset 1 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.mat-paginator {
  background-color: #1e1f33 !important;
  color: white !important;
}

.snack-bar {
  background-color: #292847 !important;
  font-weight: 500;
}

.mat-button-wrapper {
  color: white !important; // action text color
}
