/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: #83cfdf;
  font-weight: 550;
}

.mat-form-field {
  color: white !important;
}

.mat-form-field-focused {
  color: white !important;
}
.mat-form-field-label {
  color: white !important;
}

.mat-form-field-underline {
  background-color: white !important;
}

.mat-form-field-placeholder {
  color: white !important;
}

.mat-label {
  background-color: white !important;
}

input {
  font-family: Roboto;
}

.arrow-expansion > .mat-expansion-indicator,
.mat-expansion-indicator:after {
  color: white !important;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  display: flex;
}

.mat-tab-group {
  color: white !important;
}

.mat-tab-label {
  color: white !important;
  font-weight: 400;
}

.mat-tab-label-active {
  color:#83cfdf !important;
}

.mat-tab-nav-bar {
  color: white !important;
}

.mat-ink-bar{
    background-color: #83cfdf !important;
    display:block;
    height: 3px !important;
}


