<div class="content">
  <div class="container">
    <h2>Minha Lista</h2>

    <mat-tab-group>
      <mat-tab label="Assistir">
        <table matSort (matSortChange)="sortData($event)">
          <tr>
            <th><a>Ordenar por:</a></th>
            <th mat-sort-header="title">Ordem Alfabética</th>
            <th mat-sort-header="rating">Nota</th>
          </tr>
        </table>


        <mat-paginator matSort #paginator
          [length]="listCards.length"
          [pageSize]="pageSize"
          (page)="pageEvent = $event"
          [hidePageSize]="true">
        </mat-paginator>

        <div matSort (matSortChange)="sortData($event)"
          class="list-card"  *ngFor=" let card of sortedData | slice : paginator.pageIndex * pageSize : (paginator.pageIndex + 1) * pageSize">
          <app-card class="card" [card]="card"></app-card>
        </div>
      </mat-tab>

      <mat-tab label=""> </mat-tab>
    </mat-tab-group>
  </div>
</div>
