
h1 {
  font-weight: 500;
  font-size: 30px;
  flex: none;
  color: #83cfdf;
  padding: 3rem 2rem 0rem;
  background-color: #292847;
}

.mat-button {
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin: 8px;
  background-color: #708ed2;

  height: 45px;
  border: none;
  margin-right: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.mat-button:hover {
  background-color: #527cdf;
  transition: 0.4s ease-in-out;
}


.anime-info {
  background-color: rgb(245, 241, 241);
  border-radius: 10px;
  display: flex;
  height: 570px;

  p {
    color: rgb(145, 143, 143);
    padding: 0.25rem;
  }
  .img-description {
    border-radius: 10px 0px 0px 0px;
    width: 400px;
    max-height: 570px;
  }

  h2 {
    height: 20px;
    margin-top: 5%;
    color: #708ed2;
    font-size: 42px;
    width: 80%;
    line-height: 50px;
  }

  span {
    color: white;
    font-weight: 500;
    background-color: #708ed2;
    border-radius: 35px;
    font-size: 20px;
    padding: 0.25rem 0.4rem;
    width: 28px;
    height: 30px;
    line-height: 30px;
  }
}

.description {
  padding: 1rem 2rem 1rem;
  h5 {
    display: flex;
    color: rgb(71, 70, 70);
    font-size: 16px;
    margin-top: 80px;
    width: 80%;

  }
}
